html {
    padding: 0;
    margin: 0;
}

body {
    background: #000;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
}

button:active {
    transition: transform 0.5s;
    transform: translateY(2px);
}

.app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.scenesets {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scenesets-inner {
    padding: 8px;
    max-width: 768px;
}

.controls {
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #4a5de8;
}

.controls-inner {
    padding: 8px;
    max-width: 768px;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 8px;
}

.control {
    border: none;
    background: #1f3a8b;
    color: #f8fffe;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all 0.5s;
}

.control:hover {
    background: #142c75;
}

.control:active {
    background: #142c75;
    transform: translateY(4px);
}

.sceneset-name {
    font-size: 16px;
}

.sceneset-scenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px;
}

.scene {
    border: none;
    background: #cf2b1a;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    outline: none;
    transition: all 0.5s;
}

.scene:hover {
    background: #a33025;
}

.scene:active {
    background: #a33025;
    transform: translateY(4px);
}

.scene.playing {
    background: #86281e;
}

.scene.triggered {
    animation: pulse 1s infinite alternate;
    background: #3498db;
}

.scene.triggered:hover,
.scene.triggered:active {
    background: #2980b9;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

/* Button 1
  background: #3498db;
  background: #2980b9; hover, active

  Button 2
  background: #2ecc71;
  background: #27ae60; hover, active

  Button 3
  background: #34495e;
  background: #2c3e50; hover, active
*/
